
.table_upper
{
    vertical-align: top; 
    display: inline-block; 
    zoom: 1; width: 100px; 
    height: 25px; 
    font-size: 10px; 
    border-left: 1px solid black; 
    background: rgb(236, 248, 250); 
    border-top: 1px solid black; 
    border-right-color: black; 
}

.lower
{
    vertical-align: top; 
    display: inline-block; 
    zoom: 1; 
    width: 100px; 
    height: 25px; 
    font-size: 10px; 
    border-left: 1px solid black; 
    background: rgb(236, 248, 250);
	border-bottom: 1px solid black;
    border-bottom-color: black;
}
.time{
    vertical-align: top; 
    text-align:right;
    display: inline-block; 
    width:44px;
    height:9;
    font-size:15px;
    margin:4px 4px 0px 0px;
}
